body {
    background-color: #f8f8f8;
}
.ac-image.ac-selectable {
    cursor: pointer;
  }
  
  @font-face {
    font-family: 'FabricMDL2Icons';
    src: url("https://appsforoffice.microsoft.com/fabric/fonts/icons/FabricMDL2Icons.woff") format("woff"), url("https://appsforoffice.microsoft.com/fabric/fonts/icons/FabricMDL2Icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

 .android-form input[type="text"]{
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 2px solid #0099CC;
  
   box-sizing: border-box;
   outline: none;
  
   font-size: 1.4em;
   padding: 0.6em 0.6em;
   width: 100%;
  }

  a.ac-anchor {
    text-decoration: underline;
  }
  
  a.ac-anchor:link {
    color: #0078d7;
  }
  
  a.ac-anchor:visited {
    color: #0078d7;
  }
  
  a.ac-anchor:link:active {
    color: #0078d7;
  }
  
  a.ac-anchor:visited:active {
    color: #0078d7;
  }
  
  .ac-container.ac-selectable, .ac-columnSet.ac-selectable {
    padding: 0px;
  }
  
  .ac-container.ac-selectable:hover, .ac-columnSet.ac-selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .ac-container.ac-selectable:active, .ac-columnSet.ac-selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .ac-pushButton {
    
    vertical-align: middle;
    cursor: default;
    overflow: hidden;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: rgba(255, 255, 255, 1.0);
    color: #0078D7;
    gravity:center_horizontal;
    border: none;
      text-transform: uppercase;
  }
  
  .ac-pushButton:hover {
    background-color: #f8f8f8;
    color: #0078D7;
  }
  
  .ac-pushButton:disable {
    background-color: #f8f8f8;
    color: #0078d7;
    border: none;
  }

  .ac-pushButton:active {
    background-color: #f8f8f8;
    color: #0078d7;
    border: none;
  }
  
  .ac-pushButton.subdued {
    color: #0078d7;
    border: none;
  }
  
  .ac-pushButton.subdued:hover {
    background-color: #f8f8f8;
    color: #0078d7;
    border: none;
  }
  
  .ac-pushButton.expanded {
    background-color: #f8f8f8;
    color: #0078d7;
    border: none;
  }
  
  .ac-pushButton.expandable:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    margin: auto 0px auto 6px;
  }
  
  .ac-pushButton.expandable.expanded:after {
  }

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.ac-pushButton:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}
  .ac-input {
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #212121;
  }
  
  .ac-input.ac-textInput {
    resize: none;
  }
  
  .ac-input.ac-textInput.ac-multiline {
    height: 72px;
  }
  
  .ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput {
    height: 31px;
  }
  
  .ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput, .ac-input.ac-multichoiceInput {
    border: none;
    border-bottom: #8e8e93 1px solid;
    padding: 4px 8px 4px 8px;
  }  

 #showHideOriginalMessage {
     font-family: "Roboto-Regular";
     font-size: 12px;
     color: #0078d7;
     text-align: end;
     padding: 16px;
 }

 #originalBodyContainer {
     margin: -16px;
     margin-top: 0px;
     background-color: white;
 }

 #androidContainer {
     border-radius: 5px;
     border: 1px solid #e1e1e1;
     overflow: hidden;
 }
